name: Build Release Artifacts

on: 
  release: 
    types: [published]

jobs:
  build-and-publish:
    name: Build and Release Artifacts
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Get release information
        id: get_release
        uses: bruceadams/get-release@v1.2.2
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      - name: Set up Python 3
        uses: actions/setup-python@v4
        with:
          python-version: '3.10'
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          python -m pip install ply sphinx sphinx sphinx_rtd_theme
      - name: Build manpage
        run: python -m sphinx -b man docs dist
      - name: Archive manpage
        run: tar -czvf manpage.tar.gz -C dist pyxtuml.1
      - name: Upload Release Asset
        uses: actions/upload-release-asset@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ steps.get_release.outputs.upload_url }}
          asset_path: manpage.tar.gz
          asset_name: manpage.tar.gz
          asset_content_type: application/gzip
